.background{
  font-size: 40px;
  color: blue;
  font-family: cursive;
  font-style: oblique;
  background-image: url("/home/victor/Desktop/portfolio/images/Sunset-600x450.jpg");
  height:350px;
}
p{
  font-size: 28px;
  color: yellow;
  font-family: cursive;
  font-style: italic;
}
h2{
  font-size: 40px;
  font-family: cursive;
  font-style: italic;
  color: purple;
  background-color: black;
}
h3{
  font-size: 47px;
  font-family: cursive;
  font-style: italic;
  color: Yellow;
  text-align: center;
}
.education{
background-image: url("/home/victor/Desktop/portfolio/images/brookhouse.jpeg");
height: 450px;
}
h4{
  font-size: 47px;
  font-family: oblique;
  font-style: cursive;
  color: orange;
  text-align: center;
}
.foodsBg{
  background-image: url("/home/victor/Desktop/portfolio/images/foodsBg.jpg");
  height: 300px;
}
h5{
  font-size: 50px;
  font-family:cursive;
  font-style: oblique;
  color: purple;
  text-align: center;
}
.links{
  font-size: 25px;
  background-image: url("/home/victor/Desktop/portfolio/images/cars.jpeg");
  color:red;
}
