h1{
  font-size: 50px;
  color: red;
  font-style: italic;
  font-family: cursive;
  text-align: center;
}
.image{
  background-image: url("/home/victor/Desktop/portfolio/images/Wallpapers.jpg");
  height:700px;
}
li{
  font-size: 35px;
  font-family: cursive;
  font-style: italic;
  color: red;
  text-align: left;
  break-after:
}
