h1{
  font-size: 50px;
  color: red;
  font-style: italic;
  font-family: cursive;
  text-align: center;
}
.image{
  background-image: url("/home/victor/Desktop/portfolio/images/Wallpapers.jpg");
  height:700px;
}
li{
  font-size: 35px;
  font-family: cursive;
  font-style: italic;
  color: red;
  text-align: left;
  break-after:20px;
}
.row1{
  font-size: 40px;
  font-style: italic;
  font-family: cursive;
  color: blue;
  text-align: right;
}
.row2{
  font-size: 40px;
  font-style: italic;
  font-family: cursive;
  color: blue;
  text-align: left;
  align-self: baseline;
  margin-top: -50px;
}
